<div class="gui_foldable_area" data-default_foldable_state="<%= _default_state %>">
	<<%= _title_tag %> class="gui_foldable_area_title" onclick="toggle_gui_foldable_content(this);" style="cursor:pointer;"><%= _title %>&nbsp;<%= _open_indicator %><%= _close_indicator %></<%= _title_tag %>>
	<div class="gui_foldable_content" data-foldable_state="<%= _default_state %>">
		<%= _content %>
	</div>
</div>
