<%= create_foldable_area(title: "test title", close_indicator: simple_format('plop', {}, wrapper_tag: "span" ) ) do %>
<ul>
	<li>test</li>
	<li>test 2 </li>
</ul>
<% end %>


<%= create_foldable_area(title: "test title 2") do %>
<p>blabla 1</p>
<p>hahaha</p>
<% end %>
